apiVersion: aws.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: aws-creds
      key: creds
  
  endpoint:
    url:
      type: Static
      static: http://172.17.0.1:4566
    services:
      - s3
      - ec2      # ← AJOUTE
      - rds      # ← AJOUTE
      - iam      # ← AJOUTE
    hostnameImmutable: true
  
  s3_use_path_style: true
  skip_credentials_validation: true
  skip_metadata_api_check: true
  skip_requesting_account_id: true
  skip_region_validation: true